**FUNCTION** **AND** **MODULES**

1

In [ ]:
# function syntax
def greet(name):
  print("hello,"+ name +"!")

greet("john")

hello,john!

**Functional** **arguments**


1  **positional** **arguments**

In [ ]:
def add(a,b):
  return a + b

print(add(5,6))

11

2   **keyword** **arguments**

In [ ]:
def greet(name,message):
  print(message + "," + name + "!")

greet(name="john",message="good morning")

good morning,john!

3  **default** **argument**

In [ ]:
def greet(name, message = "hello"):
  print(message + "," + name + "!")

greet("john")
greet("bob", "hi")

hello,john!
hi,bob!

4  **variable** **length** **argument**

positional argument

In [ ]:
def sum_numbers(*numbers):
  return sum(numbers)
print(sum_numbers(1,2,3,4))

10

keyword argument

In [ ]:
def person(**numbers):
  for key,value in numbers.items():
     print(f"{key}:{value}")
person(name="john",age=30,city="new york")

name:john
age:30
city:new york

**return** **statement**

In [ ]:
def square(num):
  return num * num
result = square(4)
print("square is:",result)

square is: 16

In [ ]:
def square(num):
  return num * num

square(5)

25

In [ ]:
result = square(4)
print("square is:",result)

square is: 16

**modules**

**import** **math**

In [ ]:
import math
print(math.sqrt(16))

4.0

In [ ]:
from math import pi,sin
print(pi)
print(sin(math.radians(90)))

3.141592653589793
1.0

In [ ]:
def greet(name):
  print("hello," +name)

def add(a,b):
  return a + b

import my_module

my_module.greet("alice")
print(my_module.add(5,3))

hello,alice
8
hello,alice
8

prime number or not

In [10]:
def is_prime(num):
  if num <= 1:
    return False

  for  i in range(2, int(num ** 0.5) + 1):
    if num % i == 0:
      return False
-  return True
number = int(input("enter a number:"))
if is_prime(number):
  print("the number is prime")
else:
  print("the number is not prime")

enter a number:8
the number is not prime

fibonacci sries with function

In [13]:
def fibonacci(n):
  sequence=[]
  a,b = 0,1
  for i in range(n):
    sequence.append(a)
    a,b = b,a+b
  return sequence

terms = int(input("enter the number of terms:"))
print("fibonacci sequece:",fibonacci(terms))

enter the number of terms:10
fibonacci sequece: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

math module

In [16]:
import math
angle = float(input("enter an angle in degrees:"))
radians = math.radians(angle)
print("sine of angle:",math.sin(radians))
print("cosine of angle:",math.cos(radians))

enter an angle in degrees:90
sine of angle: 1.0
cosine of angle: 6.123233995736766e-17

In [17]:
def factorial(n):
  if n ==0:
    return 1
  else:
    return n*factorial(n-1)

num = int(input("enter a number:"))
print("factorial:",factorial(num))

enter a number:6
factorial: 720

In [21]:
def fibonacci(n):
  a,b = 0,1
  for i in range(n):
    print(a, end=" ")
    a,b = b, a+b
count = int(input("enter the number of terms:"))
fibonacci(count)

enter the number of terms:8
0 1 1 2 3 5 8 13

In [24]:
def reverse_string(s):
  return s[::-1]

text = input("enter a string:")
print("reversed string:",reverse_string(text))

enter a string:hello world
reversed string: dlrow olleh

In [25]:
def gcd(a,b):
  while b:
    a,b = b,a % b
    return a

num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))
print("greatest common divisor:",gcd(num1,num2))

enter the first number:23
enter the second number:5
greatest common divisor: 5