**data** **structures**

In [1]:
#list operations
n = [1,2,2.5,"hello"]
n

[1, 2, 2.5, 'hello']

In [2]:
#list operations
#accessing items
n[0]

1

In [3]:
n[-1]

'hello'

In [8]:
#modifying items
n[3] = 22
n

[1, 2, 22, 22]

In [10]:
#adding items
#append
n.append(56)
n

[1, 2, 22, 22, 56, 56]

In [15]:
#insert
n.insert(5,25)
n

[1, 2, 56, 25, 56, 25]

In [14]:
#remove
n.remove(22)
n

[1, 2, 56, 25, 56]

In [19]:
#pop
n.pop(3)
n

[1, 2, 25]

In [21]:
n

[1, 2, 25]

In [20]:
#other operations
len(n)

3

In [22]:
#sort
n.sort()
n

[1, 2, 25]

In [23]:
#reverse
n.reverse()
n

[25, 2, 1]

In [29]:
#iterating through list
for i in n:
  print(i)

25
2
1

In [30]:
#iterating through list
for i in n:
  print(n)

[25, 2, 1]
[25, 2, 1]
[25, 2, 1]

In [31]:
#iterating through list
for i in n:
  i = i*3
  print(i)

75
6
3

In [32]:
#tuple
r = (10,2.5,"rakshi")
r

(10, 2.5, 'rakshi')

In [33]:
#accessing
r[2]

'rakshi'

In [34]:
r.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
#dictionary
#creating
r = { "name":"mary","age":18,"city":"verona"}
r

{'name': 'mary', 'age': 18, 'city': 'verona'}

In [36]:
#accesing
r["city"]

'verona'

In [58]:
#modifying
r["city"] = "pune"
r

{'name': 'mary', 'city': 'pune'}

In [73]:
#adding
r["mob no"]=1234567890
r

{'name': 'mary', 'city': 'pune', 'mob no': 1234567890}

In [74]:
#removing
del r["mob no"]
r

{'name': 'mary', 'city': 'pune'}

In [76]:
#iterating through a dictionary
for i,j in r.items():
  print(i,j)

name mary
city pune

In [77]:
#sets
#creating
num = {1,2,3,4,5,6,}
sum = {2,4,6,8,10,12}
num,sum

({1, 2, 3, 4, 5, 6}, {2, 4, 6, 8, 10, 12})

In [81]:
#adding
num.add(7)
sum.add(14)
num,sum

({1, 2, 3, 4, 5, 6, 7}, {2, 4, 6, 8, 10, 12, 14})

In [82]:
#removing
num.remove(2)
sum.remove(10)
num,sum

({1, 3, 4, 5, 6, 7}, {2, 4, 6, 8, 12, 14})

In [83]:
#union
num|sum

{1, 2, 3, 4, 5, 6, 7, 8, 12, 14}

In [84]:
#intersection
num&sum

{4, 6}

In [85]:
#difference
num-sum

{1, 3, 5, 7}

In [86]:
sum-num

{2, 8, 12, 14}

In [87]:
#merge two lists
a =  [1,2,3]
b = [4,5,6]
c = a+b
c

[1, 2, 3, 4, 5, 6]

In [91]:
#dictionary operations
r = {"name":"rakshi","age":18,"marks":90}
print("name:",r["name"])
r["marks"] = 95
("updated marks:",r["marks"])

name: rakshi

('updated marks:', 95)

In [92]:
#find the maximum and minimum in a list
num = [10,12,15,20,25]
print("maximum:",max(num))
print("minimum:",min(num))

maximum: 25
minimum: 10

In [93]:
#count frequency of elements in a list
num = [1,2,2,2,3,4,4,4]
frequency = {}
for i in num:
  frequency[i] = frequency.get(i,0)+1
print("frequency of elements:",frequency)

frequency of elements: {1: 1, 2: 3, 3: 1, 4: 3}

In [94]:
#sort a list of tuples by the second element
tuples = [(1,'apple'),(2,'banana'),(3,'cherry')]
sorted_tuples = sorted(tuples,key=lambda x:x[1])
print("sorted tuples:",sorted_tuples)

sorted tuples: [(1, 'apple'), (2, 'banana'), (3, 'cherry')]

In [96]:
  #reverse a list
  num = [1,2,3,4,5]
  reversed_num = num[::-1]
  print("reversed list:",reversed_num)

reversed list: [5, 4, 3, 2, 1]

In [97]:
num = [1, 2, 3, 4, 5]
num.reverse()
print("reversed list:", num)

reversed list: [5, 4, 3, 2, 1]

In [98]:
num = [1, 2, 3, 4, 5]
reversed_num = list(reversed(num))  # Convert the reversed iterator to a list
print("reversed list:", reversed_num)

reversed list: [5, 4, 3, 2, 1]

In [99]:
#largest element in list
num = [1, 2, 3, 4, 5]
largest_num = max(num)
print("largest element:", largest_num)

largest element: 5

In [100]:
num = [1, 2, 3, 4, 5]
largest_num = num[0]  # Assume the first element is the largest
for n in num:
    if n > largest_num:
        largest_num = n
print("largest element:", largest_num)

largest element: 5

In [101]:
num = [1, 2, 3, 4, 5]
largest_num = sorted(num, reverse=True)[0]
print("largest element:", largest_num)

largest element: 5

In [102]:
#remove duplicate from a list
num = [1, 2, 2, 3, 4, 4, 5]
unique_num = list(set(num))
print("list without duplicates:", unique_num)

list without duplicates: [1, 2, 3, 4, 5]

In [103]:
#count occurences of an element in a list
num = [1, 2, 2, 3, 4, 4,]
count = num.count(2)
print("count of 2:", count)

count of 2: 2

In [109]:
#palindrome or not
number = int(input("enter a number:"))
reverse_number = 0
temp = number
while temp > 0:
    digit = temp % 10
    reverse_number = reverse_number * 10 + digit
    temp = temp // 10
if number == reverse_number:
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

enter a number:656
656 is a palindrome.

In [120]:
#string polindrome
num = input("enter a number:")
if str(number) == str(number)[::-1]:
    print("palindrome")
else:
    print("not a polindrome")

enter a number:sos
palindrome