**control** **flow** **loops**

**if** **statement**

In [2]:
age = 18
if age >= 18:
    print("you are eligible to vote")

you are eligible to vote

**if** **else** **statement**

In [23]:
num = int(input("enter number:"))
if num % 2 == 0:
  print("even")
else:
  print("odd")

enter number:7
odd

**if** **elif** **else** **statement**

In [7]:
marks = int(input("enter marks:"))
if marks >= 80:
  print("grade : A")
elif marks >= 75:
  print("grade : B")
elif marks >= 50:
  print("grade : C")
else:
  print("grade : F")

enter marks:65
grade : C

**FOR** **LOOP**

In [10]:
for i in range (5):
  print("iteration:",i)

iteration: 0
iteration: 1
iteration: 2
iteration: 3
iteration: 4

In [11]:
for i in range (5,10):
  print("iteration:",i)

iteration: 5
iteration: 6
iteration: 7
iteration: 8
iteration: 9

In [12]:
for i in range (5,50,10):
  print("iteration:",i)

iteration: 5
iteration: 15
iteration: 25
iteration: 35
iteration: 45

**while** **loop**

In [14]:
count = 0
while count < 5:
   print("count:",count)
   count+=1

count: 0
count: 1
count: 2
count: 3
count: 4

**control** **flow** **tools**

**break**

In [16]:
for i in range(10):
 if i == 5:
  break
 print(i)

0
1
2
3
4

**continue**

In [24]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

**pass**

In [25]:
for i in range(10):
  if i == 5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

**number** **is** **even** or **odd**

In [27]:
num = int(input("enter number:"))
if num % 2 == 0:
  print("the number is even.")
else:
  print("the number is odd.")

enter number:25
the number is odd.

**sum** **of** **numbers** **in** **a** **given** **range**

In [28]:
start = int(input("enter the start of the range:"))
end = int(input("enter the end of the range:"))
sum = 0
for i in range(start,end + 1):
  sum +=i
print("the sum is:", sum)

enter the start of the range:2
enter the end of the range:10
the sum is: 54

**to** **find** **factorial** **number**

In [31]:
num = int(input("enter a number:"))
factorial = 1
for i in range(1, num + 1):
  factorial*= i
print("the factorial is:",factorial)

enter a number:5
the factorial is: 120

**fibonacci** **series**

In [42]:
n = int(input("enter a number of terms: "))
a, b = 0, 1
for i in range(n):
   print(a, end=" ")
   a,b = b, a + b

enter a number of terms: 5
0 1 1 2 3

**simple** **calculator**

In [45]:
num1 = float(input("enter first number:"))
num2 = float(input("enter second number:"))
operation= input("enter operation(+,-,*,/,%,//,**):")
if operation == "+":
  print("result:", num1 + num2)
elif operation == "-":
  print("result:", num1 - num2)
elif operation == "*":
  print("result:", num1 * num)
elif operation == "/":
  print("result:", num1 / num2)
elif operation == "%":
  print("result:", num1 % num2)
elif operation == "//":
  print("result:", num1// num2)
elif operation == "**":
  print("result:", num1**num2)
else:
  print("invalid operation")

enter first number:2
enter second number:3
enter operation(+,-,*,/,%,//,**):**
result: 8.0

**leap** **year** **or** **not**

In [46]:
year = int(input("enter a year:"))
if year%4 == 0 and (year%100 !=0) or (year % 400 == 0):
 print("leap year")
else:
  print("not a leap year")

enter a year:2019
not a leap year

**largest** **of** **three** **numbers**

In [49]:
num1 = float(input("enter first number :"))
num2 = float(input("enter second number:"))
num3 = float(input("enter third number:"))
if num1 >= num2 and num1 >= num3:
  print("largest number is:",num1)
elif num2 >= num3:
  print("largest number is:",num2)
else:
  print("largest number is:",num3)

enter first number :6
enter second number:9
enter third number:2
largest number is: 9.0

**positive** or **negative** or **zero**

In [50]:
a = int(input("enter a number:"))
if a > 0:
  print("positive")
elif a < 0:
  print("negative")
else:
  print("zero")

enter a number:4
positive

**sum** **of** **all** **even** **numbers** **in** **a** **range**

In [52]:
a = int(input("enter the start of the range:"))
b = int(input("enter the end of the range:"))
sum = 0
for i in range(a,b + 1):
  if i % 2 == 0:
    sum += i
print("the sum of even numbers:",sum)

enter the start of the range:6
enter the end of the range:15
the sum of even numbers: 50